#footer{
    background-color: $darkColor;
    color: #fff;
    position: relative;
    h4{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
   p{
color: $lightColor;
   }
   i{
    margin-right: 0.6rem;
    &:before{
        margin-right: 0.3rem;
    }
   }

   ul{
    a{
        color: $lightColor;
        text-decoration: none;
        &:hover{
            color: $primaryColor;
        }
    }
    span{
        display: block;
        color: #fff;
        font-size: 0.8rem;
        margin-left: 0.9rem;
        &:before{
            content: "";
            
            display: inline-block;
            width: 1.2rem !important;
            height: 0.06rem;
            border:  0.06rem solid $primaryColor;
           
    }
        }
       
}
input{
 border-radius: 0;
 border: 0;
 background: #595959;
 color: #fff;
}
input[type="submit"]{
    background-color: $primaryColor;
    width: 100%;
    padding: 1rem;
    transition: 0.5s;
    color: $darkColor;
    &:hover{
        color: $lightColor;
        background: $secondaryColor;
    }
}
.bottom{
    .copyright{
        color: #fff;
        font-size: 0.9rem;
        transition: 0.3s;
        text-transform: capitalize;
        &:hover{
            color: $primaryColor;
        }
    }
    .top{
        margin: 0;
        position: absolute;
        right: 0.6rem;
        bottom:0.6rem;
        a{
            font-size: 1.8rem;
            color: $primaryColor;
            transition: 0.2s;
            &:hover{
                color: $secondaryColor;
            }
        }
    }
}

}