#service{
    padding-top: $paddingMd;
    .card{
        border-radius: 10px;
        transition: 0.5s;
        &:hover{
            background-color: $lightColor;
            box-shadow: 0 0 2rem;
        }
        i{
            color: $primaryColor;
            font-size: 50px;
        }
        p{
            font-size: 14px;
        }
    }
}