#team{
    padding-top: $paddingMd;
    .card{
        
    
    .card-body{
        background: $primaryColor;
       height: 520px;
       width: 75%;
       transition: 0.4s;
        
    ul.social{
        margin: 0 0 15rem;
        padding: 0 1.2rem 0 0;
        text-align: right;
        li{
            margin-bottom: 1rem;
            display: block;
        }
        a{
            color: $darkColor;
            font-size: 1.2rem;
            &:hover{
                color: $lightColor;
               
            }
        }
      }
      .card-title{
        margin: 0 0 1rem;
      }
      .card-text{
        font-weight: $fs-md;
        font-size: 0.9rem;
        letter-spacing: 0.06rem;
        margin: 0;

      }
    }
    &:hover .card-body{
        width: 100%;
    }
}
}